@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umb9.Core.UmbracoModels;
@{
    Layout = "Master.cshtml";
}

<p>@Model.MainHeading</p>
<p>@Model.MainContent</p>

@(await Html.RenderComponentAsync<Umb9.Site.Components.Testing>(RenderMode.ServerPrerendered))